<!DOCTYPE html>
<html lang="en" data-theme="<%= locals.theme || 'light' %>">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/navigation') %>
        <main class="container is-max-desktop py-6">
        </main>
    </body>
</html>
