<!DOCTYPE html>
<html lang="<%= locale %>" data-theme="light">
    <%- include('../../partials/head') %>

    <body class="container">
        <%- include(invoiceFormatTemplate) %>

        <div class="has-text-centered mt-5 is-hidden-print">
            <button type="button" class="button is-primary is-ghost" id="print-button">
                <%= __('print_report', 'Print report') %>
            </button>
        </div>
    </body>
</html>
