<!DOCTYPE html>
<html lang="en" data-theme="light">
    <%- include('../../partials/head') %>

    <body>
        <%- include('../../partials/navigation') %>

        <main class="container is-max-desktop py-6 px-4">
            <h1 class="title is-3">Register payment</h1>
            <%- include('../../partials/form', { action:'create', fields: form.fields }) %>
        </main>
    </body>
</html>
